<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/bruno.css">
</head>
<body>
    <%- include("../partials/header") %>
    <main class="ficha">
                
    <div class="imagenes"><img src="images/" alt=""></div>
    <div class="imagenes"><img src="images/<%=producto.imagen%>" alt=""></div>
    <div class="contenido">
        <p class="titulo"><%=producto.nombre%></p>
        <P class="codigo"><%=producto.codigo%></P>
        <p class="descripcion"><%=producto.descripcion%></p>
        <p class="precio-anterior">$<%=producto.precio%></p>
        <p class="precio-nuevo">Oferta $<%= producto.precio - (producto.precio * (producto.descuento /100))%></p>
        <div class="cantidad">
            <div class="simbolos"><span>-</span></div>
        <input class="cuadro-cantidad" type="text">
        <div class="simbolos"><span>+</span></div>
    </div>
    <div>
        <button class="agregar" type="submit">Agregar</button>
    </div>
    <div class="icono-ficha">
    <div class="botones-ficha">
        <img src="images/icono-sucursal.png" alt="">
        <div>
            <h3>RETIRO GRATIS</h3>
            <p>en sucursal</p>
        </div>
    </div>
    <div class="botones-ficha">
        <img style="width: 100%;" src="images/WP-peque.png" alt="">
        <div class="guasap-ficha">
            <h3>2235049312</h3>
            <p>Consultanos</p>
        </div>
    </div>
    </div>
    </div>
<%- include ("../partials/footer") %>

<div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>