<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <link rel="stylesheet" type="text/css" href="../css/abm.css">
</head>
<body id="clase">
<main >    
        <h1>Edición de Productos</h1>
        <div>
        <form action="/<%=productToEdit.id%>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
          
            <input id="forma" type="text" placeholder="<%= productToEdit.nombre %>" name="nombre">
            
            <select id="forma" name="categoria">
                <option disabled selected><%=productToEdit.categoria%></option>
                <option value="Arbol de Leva">Arbol de Leva</option>
                <option value="Bomba de aceite">Bomba de aceite</option>
                <option value="Biela">Biela</option>
                <option value="Enfriador de aceite">Enfriador de aceite</option>
                <option value="Tapa de cilindro">Tapa de cilindro</option>
            </select>
            <textarea id="forma" name="descripcion" rows="10" cols="50"> <%= productToEdit.descripcion %></textarea>
            <div><p>Edite imagen del producto: </p></div>
            <input id="forma" type="file" placeholder="Imagen" name="imagen" >
            <input id="forma" type="text" placeholder="<%= productToEdit.marca %>" name="marca">
            <input id="forma" type="text" placeholder="<%= productToEdit.precio %>" name="precio">
            <input id="forma" type="text" placeholder="<%= productToEdit.descuento %>" name="descuento">
            <input id="forma" type="text" placeholder="<%= productToEdit.codigo %>" name="codigo">
            <input id="forma" type="text" placeholder="<%= productToEdit.stock %>" name="stock">
            
            <button type="submit">Editar datos de Producto</button>
            <button type="reset">Eliminar Campos</button>
        </form>
        <form action="/delete/<%=productToEdit.id%>?_method=DELETE" method="POST">
            <button type="submit">Eliminar</button>
        
        </form>
    </div>
  
        
</main>
</body>
</html>