<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/carrito.css">
</head>
    <%- include("../partials/header") %>
    <body>
    <section class="catalogoProductos">
        <% for(let i=0; i < user.length; i++) { %>
        <article class="contenedor-padre1">
            <img src="images/user/<%=user[i].imagen%>" alt="" class= "imagen1" width="50%">
            <ul>
            <li><div class="detallePC">
                <div id=modificacion>
                <a href="/user/<%=user[i].id%>"><h3><%=user[i].nombre%></h3></a>
                </div >
            </li>
            <li>
                   <div id="flex">
                        <div id="cantsub">
                                <p class="cajita"><%=user[i].email%></p>
                                <!--<button class="eliminarPe" id="eliminado" type="submit"> -<i class="fa-solid fa-cart-shopping"></i></button>-->
                        </div>
                    </div>
            </li>
            <form action="/user/edit/admin/<%=user[i].id%>?_method=PUT" method="POST" >
                <select id="categoria_id" name="categoria_id" class="ingresar">
                    <option disabled selected ><% if(user[i].categoria_id == 1){ %>
                        <%= "Administrador" %>
                    <% }else{ %>
                       <%= "Usuario" %> 
                    <% } %>
                    </option><br>
                    <option value=1>Administrador</option><br>
                    <option value=2>Usuario</option>     
                </select>
                <button type="submit" class="ingresar">Modificar Categoria</button>
            </form>
            </ul>
        </article>
        <% } %>
    </section>    


<%- include ("../partials/footer") %>

<div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>