<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <link rel="stylesheet" type="text/css" href="../css/abm.css">
</head>
<body id="clase">
<main >    
        <h1>Edición de Productos</h1>
        <div>
        <form action="/<%=producto.id%>/edit?_method=PUT" method="POST" enctype="multipart/form-data">
            <% if (locals.errors && errors.nombre) { %>
                <div style="color: red">
                    <%= errors.nombre.msg %> 
                </div>
            <% } %>
            <div><p>Edite el nombre del producto</p></div>
            <input id="forma" type="text" value="<%= producto.nombre %>" name="nombre">
            <div><p>Edite la categoria</p></div>
            <select id="forma" name="categoria">
                <option disabled selected> </option>
                <option value="1">Arbol de Leva</option>
                <option value="2">Bomba de aceite</option>
                <option value="3">Biela</option>
                <option value="4">Enfriador de aceite</option>
                <option value="5">Tapa de cilindro</option>
            </select>
            <% if (locals.errors && errors.descripcion) { %>
                <div style="color: red">
                    <%= errors.descripcion.msg %> 
                </div>
            <% } %>
            <div><p>Edite la descripcion</p></div>
            <textarea id="forma" name="descripcion" rows="10" cols="50"> <%= producto.descripcion %></textarea>
            <div><p>Edite imagen del producto: </p></div>
            <% if (locals.errors && errors.imagen) { %>
                <div style="color: red">
                    <%= errors.imagen.msg %> 
                </div>
            <% } %>
            <input id="forma" type="file"  name="imagen" >
            <% if (locals.errors && errors.marca) { %>
                <div style="color: red">
                    <%= errors.marca.msg %> 
                </div>
            <% } %>
            <div><p>Edite la marca</p></div>
            <input id="forma" type="text" value="<%= producto.marca %>" name="marca">
            <% if (locals.errors && errors.precio) { %>
                <div style="color: red">
                    <%= errors.precio.msg %> 
                </div>
            <% } %>
            <div><p>Edite el precio</p></div>
            <input id="forma" type="text" value="<%= producto.precio %>" name="precio">
            <% if (locals.errors && errors.descuento) { %>
                <div style="color: red">
                    <%= errors.descuento.msg %> 
                </div>
            <% } %>
            <div><p>Edite el descuento</p></div>
            <input id="forma" type="text" value="<%= producto.descuento %>" name="descuento">
        <!-- <input id="forma" type="text" value="<%= producto.codigo %>" name="codigo"> -->
            <% if (locals.errors && errors.stock) { %>
                <div style="color: red">
                    <%= errors.stock.msg %> 
                </div>
            <% } %>  
            <div><p>Edite la cantidad de stock</p></div>
            <input id="forma" type="text" value="<%= producto.stock %>" name="stock">
            
            <button type="submit">Editar datos de Producto</button>
            <button type="reset">Eliminar Campos</button>
        </form>
        <form action="/delete/<%=producto.id%>?_method=DELETE" method="POST">
            <button type="submit">Eliminar</button>
        
        </form>
    </div>
  
        
</main>
</body>
</html>