<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/carrito.css">
</head>
<body>
    <%- include("../partials/header") %>
    <section class="catalogo">
        <% for(let i=0; i < products.length; i++) { %>
        <article class="contenedor-padre1">
            <img src="images/<%=products[i].imagen%>" alt="" class= "imagen1">
            <div class="detallePC">
                <div id=modificacion>
                <a href="/<%=products[i].id%>"><h3><%=products[i].nombre%></h3></a>
                </div >
                   <div id="flex">
                        <div id="cantsub">
                                <p class="cajita">$<%=products[i].precio%></p>
                                <!--<button class="eliminarPe" id="eliminado" type="submit"> -<i class="fa-solid fa-cart-shopping"></i></button>-->
                        </div>
                    </div>
                </div>
            
        </article>
        <% } %>
    </section>    
  
    <!---<main class="ficha">
        <% for(let i=0; i < products.length; i++) { %>
        <div id="bruno">
    <div class="imagenes"><img src="images/<%=products[i].imagen%>" alt=""></div>
    <div class="contenido">
        <a href="/<%=products[i].id%>"><p class="titulo"><%=products[i].nombre%></p></a>
        <P class="codigo"><%=products[i].codigo%></P>
        <p class="descripcion"><%=products[i].descripcion%></p>
        <p class="precio-anterior">$<%=products[i].precio%></p>
        <p class="precio-nuevo">Oferta $<%= products[i].precio - (products[i].precio * (products[i].descuento /100))%></p>
    </div>
</div>
<% } %>
</main>

FOOTER PARTIAL-->
<%- include ("../partials/footer") %>

<div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>