<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="css/carrito.css">
    <script src="js/adminMiddleware.js"></script>
</head>
<body>
    <%- include("../partials/header") %>
    <% if (!locals.userLogged ) { %>
                        
                    
        <% } else if (locals.userLogged.categoria_id !== 2){ %>

           <h1></h1><a href="/create"> Crear Producto</a>

        <% } %> 
    <section class="catalogoProductos">
        
        <% if (products.length > 0){ %>
        <% for(let i=0; i < products.length; i++) { %>
        <article class="contenedor-padre1">
            <img src="../images/<%=products[i].imagen%>" alt="" style= "width: 50%">
            <div class="detallePC">
                <div id=modificacion>
                <a href="/<%=products[i].id%>/detail"><h3><%=products[i].nombre%></h3></a>
                </div >
                   <div id="flex">
                        <div id="cantsub">
                                <p class="cajita">$<%=products[i].precio%></p>
                                <!--<button class="eliminarPe" id="eliminado" type="submit"> -<i class="fa-solid fa-cart-shopping"></i></button>-->
                        </div>
                    </div>

                     <% if (!locals.userLogged ) { %>
                        
                    
                     <% } else if (locals.userLogged.categoria_id !== 2){ %>

                        <a href="/<%=products[i].id%>/edit"> Editar Producto</a>

                     <% } %> 
                </div>
            
        </article>
        <% } %>
        <% }else {  %>
            <p>NO EXISTE ESTE PRODUCTO, FAVOR DE INTENTAR BUSCAR OTRO PRODUCTO</p>
        <% } %>
    </section>    

<%- include ("../partials/footer") %>

<div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>