<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/carrito.css">
</head>

    <%- include("../partials/header") %>

<body>
    <section class="catalogo">
        <article class="contenedor-padre1">
            <img src="../images/user/<%=userId.imagen%>" alt="" class= "imagen1">
            <ul>
            <li><div class="detallePC">
                <div id=modificacion>
                <h3><%=userId.nombre%></h3>
                </div >
            </li>
            <li>
                   <div id="flex">
                        <div id="cantsub">
                                <p class="cajita"><%=userId.email%></p>
                                <!--<button class="eliminarPe" id="eliminado" type="submit"> -<i class="fa-solid fa-cart-shopping"></i></button>-->
                        </div>
                    </div>
            </li>
            <a href="/user/edit/<%=userId.id%>"><li>Editar Usuario</li></a>
            </ul>
        </article>
    </section>    

<!--FOOTER PARTIAL-->
<%- include ("../partials/footer") %>

<div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>