<!DOCTYPE html>
<html lang="es">
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="css/styles.css">
    <!--<script src="js/validacionesRegister.js"></script> -->
</head>
<body>
    <%- include("../partials/header") %>
   <main>
       <h2>Crear nueva cuenta</h2>
       <p>Si tiene una cuenta, <a href="/acceso">inicie sesión</a> con su direccion de correo electrónico.</p>
       <ul class="errors"> </ul>
       <section class="form-reg">
           <h4>Ingrese los siguientes datos: </h4>
           <ul class="errores">
        </ul>
           <form action="/" method="POST" enctype="multipart/form-data">
                <div class="registro">
                    <% if (locals.errors && errors.nombre) { %>
                        <div style="color: red">
                            <%= errors.nombre.msg %> 
                        </div>
                    <% } %>
                    <input class="campos <%= locals.errors && errors.name ? 'validacionRegister' : null %>"
                    type="text" name="nombre" id="nombre-apellido" placeholder="Nombre y Apellido">
                    <% if (locals.errors && errors.email) { %>
                        <div style="color: red">
                            <%= errors.email.msg %> 
                        </div>
                    <% } %>
                    <input class="campos" type="text" name="email" id="mail-r" placeholder="E-mail">
                    <% if (locals.errors && errors.password) { %>
                        <div style="color: red">
                            <%= errors.password.msg %> 
                        </div>
                    <% } %>
                    <input class="campos" type="password" name="password" id="contra" placeholder="Ingrese Contraseña">
                    <!--<input class="campos" type="password" name="conf-contra" id="conf-contra" placeholder="Confirme su contraseña"> -->
                    <% if (locals.errors && errors.imagen) { %>
                        <div style="color: red">
                            <%= errors.imagen.msg %> 
                        </div>
                    <% } %>
                    <div><p>Añada imagen de usuario: </p></div>
                    <input class= "campos" id="fotito" name="imagen" type="file" placeholder="Imagen" >
                    </div>
                    <button class="crear-cuenta" type="submit">CREAR CUENTA</button>
           </form>
        </section>
   </main> 
   <!--FOOTER PARTIAL-->
   <%- include ("../partials/footer") %>
   
   <div class="guasap"><a href="https://api.whatsapp.com/send/?phone=%2B5492235049312&text&app_absent=0"><i class="fa-brands fa-whatsapp"></i></a></div>
</body>
</html>